
.btn{
    display: inline-flex;
    align-items: flex-start;
    height: auto; 
    width: auto;
    max-wdth: 214px;
    max-height:38px;
   
}

.nav_button{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
    text-transform: uppercase;
    background: #F28D35;
    border:4px solid #F28D35;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
}