*{
    margin:0;
    padding:0;
}

.home_img{
    
    margin-top:calc(-40px) ;
    height: 763px;
    width: 100%;
}

.img_home{
    margin-top: 40px;
    background:  lightgray 50% / cover no-repeat;
    background-image: url("../Assests/andy-kelly.jpg");
    height: 700px;
}

.home_text{
    display: flex;
    width: 630px;
    flex-direction: column;
    height: 306px;   
    max-height: auto;
    background: linear-gradient(257deg, #1CBDDD 27.86%, #4DCA79 100%), #FFF;
    margin:calc(-354px) 730px 0px 80px; 
}

.home_desc{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
    letter-spacing: -0.96px;
    text-transform: capitalize;
    padding: 24px 40px 20px 40px;
  
}
.btn_home{
    margin-left: 40px;
    margin-bottom: 32px;
  
}

.home_contentweb,
.home_contentDigital{
    display: inline-flex;
    align-items: center;
    gap: 108px;
    margin-left:188px ;
 
}
.home_contentDigital{
    margin-top: 80px;
    margin-bottom: 100px;
}

.home_webcontent_img{
    background-image: url("../Assests/image\ 2.jpg");
    background-repeat: no-repeat; 
    height:414px;
    width: 414px;
}
.home_Digitalcontent_img{
    background-image: url("../Assests/image\ 1.jpg");
    background-repeat: no-repeat; 
    height:416px;
    width: 414px;
}

.web_content,
.Digital_content{
    display: flex;
    width: 542px;
    height:auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.web_topic,
.Digital_topic{
    color: #6B3CC9;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px; /* 122.222% */
    letter-spacing: 0.4px;
}

.content_home{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}