
.nav{
    display: flex;
    height: auto;
    max-height: 77px;
    align-items: center;
    background: #6B3CC9;
    justify-content: space-between;
    width:100%;

}

.Logo{
    padding-top:26px ;
    padding-left: 80px;
    padding-bottom: 26px;
}

.navbar{
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 28px;
    list-style: none;
    padding: 26px 80px 26px 0px;
}

.nav_list{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}

