
.nav{
    display: flex;
    height: auto;
    max-height: 77px;
    align-items: center;
    background: #6B3CC9;
    width:100%;
    justify-content: space-between;
    
}

.Logo_img{
    padding-top:26px ;
    padding-left: 80px;
    padding-bottom: 26px;
}

.navbar{
    display: flex;
    align-items: flex-start;
    gap: 28px;
    list-style: none;
    padding: 26px 80px 26px 0px;
}

.nav_list{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   
}


 /*----Adding media queries for screen size 375px-----*/

@media screen and (max-width: 375px) {
    .menu-icon {
        cursor: pointer;
        padding-right: 26px;
    }

    .iconmenu {
        width: 31px;
        height: 24px;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 77px; 
        left: 0;
        width: 100%;
        background: #6B3CC9;
        padding-top: 8px;
        padding-right: 0px;
    }

    
    .nav.menu-open .navbar {
        display: flex;
    }

   
    .navbar .nav_list {
        display: none;
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 16px; 
        cursor: pointer;
    }

    
    .nav.menu-open .navbar .nav_list {
        display: block;
    }
}


 
/*----Adding media queries for screen size 768px-----*/   

@media screen and (max-width:768px){
    .menu-icon {
        display:none;
    }

    .Logo_img{
        padding-left: 40px;
    }
    .navbar{  
        padding: 26px 40px 26px 0px;
        
    }
}


/*----Adding media queries for screen size 1200px-----*/

    @media screen and (max-width:1200px){
        .menu-icon {
            display:none;
        }
        .nav{
            display: flex;
            width:100%;
            justify-content: space-between;   
        }

        .Logo_img{
            padding-left:60px;
            height:25px;       
        }
        
        .navbar{  
            padding: 26px 60px 26px 0px;
            
        }
        

    }

   

